ul,
ol {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.flex-row-1 {
  flex: 1;
  max-width: 25%;
}

:root {
  --blueColor: 78, 44, 160;
  --white: #fff;
  --triplet-blue: #0292e6;
  --shadow: rgba(0, 0, 0, 0.5);
  --light: #868686;
  --light-blue: #545b62;
  --light-gray: #ebebeb;
  --red: red;
  --fontvsm: 12px;
  --fontsm: 14px;
  --fontmed: 16px;
  --fontXl: 30px;
  --fontBague: "PFBagueSansW01", sans-serif;
  --fontHelvetical: "HelveticaLTStd", sans-serif;
}

.stMap {
  height: 100vh;
}
.stMap button {
  border: none;
  text-align: left;
  outline: none;
}
.stMapBg {
  object-fit: cover;
  object-position: center bottom;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.stMapContainer {
  margin: 0 auto;
  max-width: 1100px;
}
.stMapAdd {
  background-color: #0292e6;
  color: var(--white);
  padding: 5px 10px;
  font-size: 13px;
  line-height: 25px;
  border-radius: 3px;
  cursor: pointer;
}
.stMapLogo {
  padding-right: 20px;
  max-width: 240px;
}
.stMapLogo img {
  width: 100%;
  margin-top: -20px;
}
.stMapHead {
  position: relative;
  padding-left: 20px;
}
/* .stMapHead:before {
  content: "";
  width: 1px;
  height: 33px;
  position: absolute;
  background-color: var(--light);
  left: 0;
  top: 4px;
} */
.stMapHeader {
  padding: 20px 0;
  color: var(--white);
  margin-bottom: 40px;
  font-family: var(--fontBague);
  font-size: var(--fontsm);
  line-height: 20px;
}
.stMapHeader p {
  color: var(--light);
}
.stMapHeader h4 {
  color: var(--triplet-blue);
}
.stMapCard {
  margin-bottom: 30px;
}
.stMapCardInner {
  background-color: #4c5058;
  padding: 20px 10px;
  box-shadow: 9px 7px 17px 1px rgba(25, 27, 39, 0.2);
  border-radius: 6px !important;
}
.stMapCardCircle {
  align-items: center;
}
.stMapCardCircle img {
  width: 30%;
  object-fit: cover;
}
.stMapCard h5 {
  color: var(--white);
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0px;
  font-family: var(--fontHelvetical);
  font-size: var(--fontmed);
  line-height: 20px;
}
.stMapSelectMenu {
  margin: 15px 0;
  font-family: var(--fontHelvetical);
  font-size: var(--fontsm);
  line-height: 20px;
}
.stMapSelectMenuOptions {
  position: relative;
}
.stMapSelectMenuButton {
  background-color: var(--white);
  border: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 160px;
  color: var(--triplet-blue);
  font-weight: 600;
  font-size: var(--fontvsm);
}
.stMapSelectMenuButtonTransparent {
  background-color: transparent;
  color: var(--light-gray);
  font-weight: 300;
  padding: 5px 0;
}
.stMapSelectMenuButton img {
  vertical-align: middle;
  padding-right: 8px;
}
.stMapSelectMenuLi {
  background-color: var(--white);
  top: 0;
  left: 0;
  position: absolute;
  padding: 10px;
  width: 100%;
}
.stMapBoxWrapper {
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}
.stMapBoxWrapper:last-child {
  margin-right: 0;
}
.stMapArrow {
  margin-right: 10px;
}
.stMapArrowCircle {
  width: 100%;
  margin-bottom: 30px;
}
.stMapSavingIcon {
  position: absolute;
  top: 8px;
  right: 6px;
}
