.colfp {
  background: #3a6596;
  color: #fff;
  padding: 20px 0px;
}

.coltp {
  background: rgb(25, 49, 77);
  color: #fff;
  padding: 20px 0px;
}

.employee_infocolfp {
  color: #fff !important;
}

.card .header .header-dropdown i {
  color: #fff !important;
}

.page-header {
  background-color: #3a6596;
}

.page-title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.initiative_profile_details .employee_info {
  color: #111111 !important;
}

.savebt {
  color: #07a089 !important;
  font-size: 24px !important;
}

.theme-black .nav > li > a {
  max-width: 80px;
  overflow: hidden;
  margin-bottom: -12px;
}

.theme-black .swot-nav > li > a {
  max-width: 120px;
  overflow: hidden;
  margin-bottom: -10px;
}

.nav-tabs > li {
  background: #fff;
}

.nabti {
  padding: 16px 10px 0px 10px;
}

.nav-tabs li a {
}

/* .nav-tabs li a.active{border-bottom:2px solid #3A6596 !important;} */

.tplla {
}

.tplla th {
  background: #f5f5f5;
  font-weight: 500 !important;
}

.tplla th,
.tplla td {
  text-align: centre;
}

.favgs {
  color: #3a6596 !important;
  font-size: 1.1rem !important;
}

.favgs i {
  font-size: 1.3rem !important;
}

.h6m0 {
  float: left;
  margin-right: 10px;
  padding-top: 6px;
}

.rc-tgrn {
  /* background-color: #07a089; */
  color: #3a6596;
  padding: 9px 6px 6px 7px;
  margin-right: 4px;
}

.rc-tgrn i {
  color: #3a6596;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.rc-success {
  background-color: #00cc33;
  color: #fff;
  padding: 8px;
  margin-right: 4px;
}

.rc-success i {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.btn-success:hover {
  background: #189b34 !important;
  color: #ffffff !important;
}

.swot tbody tr td {
  padding: 12px 5px;
}

input::placeholder {
  color: #333333 !important;
}

.meetinp {
  height: auto;
  padding: 0.4375rem 0.25rem !important;
  font-size: 0.8125rem;
  line-height: 1.1;
  color: #495057;
  background-color: #fff;
  border: 1px solid #cccccc !important;
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
    border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.addbtnz {
  height: auto;
  padding: 0.4375rem 1.2rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #e1e5eb;
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
    border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.btnfll {
  float: left;
  margin-right: 20px;
}

.green_form {
  color: #7cab1f;
  border: 1px solid #7cab1f;
}

.red_form {
  color: #e74c3c;
  border: 1px solid #e74c3c;
}

@charset "UTF-8";
@import url(../fonts/themify-icons/themify-icons.css);
@import url(../fonts/simple-line-icons/css/simple-line-icons.css);
.font_icon {
  font-size: 35px;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

body {
  font-weight: lighter !important;
}

table td {
  font-weight: lighter;
}

table th {
  font-weight: normal;
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-sm {
  margin-left: -20px;
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-sm:hover {
  z-index: 5;
}

.avatar-wrapper-overlap .avatar-icon-wrapper {
  z-index: 0;
  /*margin-left: -18px;*/
}

.avatar-icon-wrapper {
  display: inline-block;
  margin-right: 0.1rem;
  position: relative;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  animation: cd-bounce-2 0.6s;
}

.vertical-timeline-element-content {
  position: relative;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-add,
.avatar-wrapper-overlap .avatar-icon-wrapper:first-child {
  margin-left: 0 !important;
}

.avatar-icon-wrapper {
  display: inline-block;
  margin-right: 0.1rem;
  position: relative;
}

.add_icon {
  padding-top: 4px;
}

.order-list li + li {
  margin-left: -14px;
}

.avatar-sm {
  width: 32px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.avatar-icon-sm .avatar-icon {
  width: 34px;
  height: 34px;
  border: 1px solid #d0d0d0;
}

.avatar-icon {
  border: #fff solid 3px;
  overflow: hidden;
}

.avatar-icon {
  display: block;
  /*width: 44px;
    height: 44px;*/
  transition: all 0.2s;
  opacity: 1;
  border-radius: 50px;
}

.avatar-icon img {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn-add {
  padding: 9px 12px;
  /*margin-left:20px;*/
  font-size: 13px;
  border-radius: 50px;
  margin-top: 5px;
}

.table {
  overflow-x: scroll;
}

.fa fa-eye {
  padding: 3px;
}

button {
  cursor: pointer;
}

.green_btn {
  /*box-shadow:0px 1px 4px #7cab1f; */
  background-color: #7cab1f;
  color: #fff;
  font-weight: 600;
}

.yellow_btn {
  /*box-shadow:0px 1px 4px #f8a012; */
  background-color: #f8a012;
}

.icon_green {
  color: #7cab1f;
}

.warning {
  background-color: #f8a012;
  color: #fff;
  font-weight: 600;
}

.blue_btn {
  /*box-shadow:0px 1px 4px #108a90;*/
  background-color: #108a90;
  color: #fff;
  font-weight: 600;
}

.green_form {
  color: #7cab1f;
  border: 1px solid #7cab1f;
}

.red_form {
  color: #e74c3c;
  border: 1px solid #e74c3c;
}

.strength tr th {
  background-color: #1cb597;
  color: #fff;
}

.strength {
  background-color: #1cb597;
  color: #fff;
}

.strength:hover {
  color: #fff;
}

.weak tr th {
  background-color: #ffb240;
  color: #fff;
}

.weak {
  background-color: #ffb240;
  color: #fff;
}

.weak:hover {
  color: #fff;
}

.oppurtunity tr th {
  background-color: #3ab4b9;
  color: #fff;
}

.oppurtunity {
  background-color: #3ab4b9;
  color: #fff;
}

.oppurtunity:hover {
  color: #fff;
}

.thread tr th {
  background-color: #e24c4d;
  color: #fff;
}

.thread {
  background-color: #e24c4d;
  color: #fff;
}

.thread:hover {
  color: #fff;
}

.gj-textbox-md {
  border: 1px solid #efebe2 !important;
  font-size: 12px !important;
  color: #5a6169 !important;
  padding: 6px 0 6px 5px !important;
  font-weight: normal !important;
  border-radius: 0.25rem !important;
  height: 16px !important;
}

.gj-picker-md table tr td div,
.gj-picker-md table tr th div {
  width: 30px !important;
}

.gj-picker-md,
ul.gj-list-md li {
  font-size: 10px !important;
  letter-spacing: 0px !important;
}

.gj-datepicker-md [role="right-icon"] {
  padding: 5px !important;
  font-size: 20px !important;
  color: #5a6169;
}

.gj-timepicker-md [role="right-icon"] {
  padding: 5px !important;
  font-size: 20px !important;
  color: #5a6169;
}

.well {
  height: 40px;
  padding: 10px;
}

.well_head_first {
  border-right: 1px solid #bfc0c2;
  width: 100% !important;
  height: 200px;
}

.well_head {
  border-right: 1px solid #bfc0c2;
}

.well_head_last {
  padding-right: 30px !important;
}

.bglight {
  background-color: #1cb597;
  height: 80px;
}

.btn_control,
.btn_control:hover {
  background-color: #1cb597;
  color: #fff;
  font-weight: 500;
}

.objective {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fa-user-circle {
  color: grey;
}

.search {
  background-color: #f7f5f4;
  border-radius: 20px;
  border: 1px solid #f7f5f4;
}

.w-65 {
  width: 40%;
}

.top_datepicker {
  border-bottom: 1px solid #ece9ef !important;
  color: #7f7886 !important;
}

.top_datepicker {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

.modal .modal-save-btn {
  background-color: #3a6596;
  color: #fff;
}

.modal .modal-save-btn i {
  font-size: 14px !important;
}

.modal .modal-close-btn {
  background: #fff;
  color: #454545;
  border: 1px solid #cecece !important;
}

.modal .modal-close-btn i {
  font-size: 14px !important;
}

.top_datepicker {
  font-size: 12px !important;
  padding: 0 !important;
  text-align: center;
  margin-left: 5px !important;
}

.orientation-right {
  top: 70px !important;
  right: 0 !important;
  left: auto !important;
  position: fixed;
}

.sticky-top {
  z-index: 0 !important;
}

.idea-box {
  width: 100%;
  height: auto;
  /* background-color: #fff; */
  margin-bottom: 20px;
  border-radius: 5px;
}

.idea-box-content {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.102);
}

.idea-header {
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.idea-body {
  background-color: #fff;
  padding: 8px;
}

.header-line {
  height: 5px;
  background-color: rgb(252, 217, 74);
}

.idea-header img {
  /* display: block;
  margin: auto; */
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.idea-header h4 {
  margin-top: 10%;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 22px;
  color: rgba(92, 93, 93, 1);
  line-height: 1;
}

.idea-header span {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  line-height: 1;
}

.idea-header i {
  font-size: 14px;
  color: rgba(92, 93, 93, 1);
  top: 45%;
  position: absolute;
  left: 85%;
}

.idea-body .about_idea {
  padding-top: 3%;
}

.idea-body .about_idea h4 {
  line-height: 24px;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 19px;
  color: rgba(92, 93, 93, 1);
}

.idea-body .about_idea p {
  line-height: 24px;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: rgba(170, 170, 170, 1);
}

.idea-body .about_idea p a {
  line-height: 24px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #2772d4 !important;
}

.idea-body .idea_action {
  margin-top: -3%;
  margin-bottom: 8%;
}

.idea-body .idea_like i {
  text-align: center !important;
  font-weight: 500;
  font-size: 16px;
  color: rgba(45, 47, 57, 1);
  letter-spacing: 5px;
}

.idea-body .idea_like span {
  text-align: center !important;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: rgba(45, 47, 57, 1);
  padding-right: 5%;
}

.idea-body .idea_comment i {
  text-align: center !important;
  font-weight: 500;
  font-size: 16px;
  color: rgba(45, 47, 57, 1);
  letter-spacing: 5px;
}

.idea-body .idea_comment span {
  text-align: center !important;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: rgba(45, 47, 57, 1);
}

.idea-body .idea_budget h4 {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  color: rgba(92, 93, 93, 1);
}

.idea-body .idea_budget span {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  color: rgb(12, 88, 243);
}

.idea-body .idea_sponsor h4 {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  color: rgba(92, 93, 93, 1);
}

.idea-footer {
  background-color: rgb(252, 217, 74);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 4%;
  padding-bottom: 4%;
}

.idea-footer-content {
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-direction: row !important;
  justify-content: space-evenly;
  text-align: center;
}

.sponsor_list {
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-direction: row !important;
  justify-content: space-evenly;
  text-align: center;
}

.idea-footer-icon i {
  font-size: 22px;
  color: #fff;
}
